https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
https://mirror1.malwaredomains.com/files/justdomains
http://sysctl.org/cameleon/hosts
https://s3.amazonaws.com/lists.disconnect.me/simple_tracking.txt
https://hosts-file.net/ad_servers.txt
https://s3.amazonaws.com/lists.disconnect.me/simple_ad.txt
https://easylist-downloads.adblockplus.org/easylistchina.txt
https://raw.githubusercontent.com/cjx82630/cjxlist/master/cjx-annoyance.txt
http://tools.yiclear.com/ChinaList2.0.txt
https://github.com/user1121114685/koolproxyR_rule_list/raw/master/kpr_our_rule.txt
https://filters.adtidy.org/extension/chromium/filters/2.txt
https://filters.adtidy.org/extension/chromium/filters/3.txt
https://filters.adtidy.org/extension/chromium/filters/4.txt
https://filters.adtidy.org/extension/chromium/filters/14.txt
https://filters.adtidy.org/extension/chromium/filters/10.txt
https://filters.adtidy.org/extension/chromium/filters/11.txt
https://filters.adtidy.org/extension/chromium/filters/12.txt
https://filters.adtidy.org/extension/chromium/filters/15.txt
https://easylist-downloads.adblockplus.org/easylistchina.txt
http://tools.yiclear.com/ChinaList2.0.txt
